@font-face {
    font-family: 'Quattrocento';
    src: url('../src/assets/Quattrocento-Regular.ttf');
}
@font-face {
    font-family: 'Quattrocento-Bold';
    src: url('../src/assets/Quattrocento-Bold.ttf');
}
body{
	background-color: #111;
}
