<div class="container-first">
  <h1 class="name-portfolio d-flex justify-content-center">
    <span class="name">Jaya priya Kanakarajan</span>
    <span class="portfolio">&nbsp;Portfolio</span>
  </h1>
  <div class="container-second" (click)="wakeup()">
    <div class="shadow"></div>
    <div class="cat-second">
      <div class="ear"></div>
      <div class="eye"></div>
      <div class="mouth"></div>
      <div class="nose"></div>
      <div class="hand"></div>
      <div class="right-hand"></div>
      <div class="left-leg"></div>
      <div class="right-leg"></div>
      <div class="cat-body"></div>
      <div class="bubble"></div>
      <div class="click" style="color: white;" *ngIf="!wakeUpCat">Wake me up!</div>
      <div class="click" style="color: white;animation: none;" *ngIf="wakeUpCat">Oh hi!!</div>
    </div>
  </div>
  <!-- <div class="container-third" *ngIf="wakeUpCat">
    <div class="shadow"></div>
    <div class="cat-third">
      <div class="ears left"></div>
      <div class="ears right"></div>
      <div id="eyes">
				<div class="eye-up">
					<div class="pupil">
						<div class="pupil_ref"></div>
					</div>
				</div>
				<div class="eye-up">
					<div class="pupil">
						<div class="pupil_ref"></div>
					</div>
				</div>

			</div>
      <div class="mouth-up"></div>
      <div class="nose-up">
      </div><div class="hands left">
        <div class="finger f1"></div>
        <div class="finger f2"></div>
        <div class="finger f3"></div>
      </div>
      <div class="hands right">
        <div class="finger f1"></div>
        <div class="finger f2"></div>
        <div class="finger f3"></div>
      </div>
      <div class="body-up"></div>
      <div class="tail"></div>
      <div class="click-up">Hi!</div>
    </div>
  </div>    -->
</div>


